body {
  padding-top: 70px;
}

.space-top {
  padding-top: 15px;
}

.box-opacity {
    opacity:0.85;
}

.base-box {
    background-color:white;
    opacity:0.50;
    border-radius:8px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.space_dat_button_bro {
    margin-top:20px;
    margin-bottom:25px;
}

.navbar-opacity {
  opacity:0.70;
}
